body {
	background-color: #000;
}

#name {
	font-size: 22px;
	color: #f8f8f8;
	text-align: center;
	margin: 10px 0 15px 0;
	letter-spacing: 3px;
}

#name span.last-name {
	color: #05aae5;
}

#photo {
	margin-top: 20px;
	text-align: center;
}

#bryan {
	width: 155px;
	height: 155px;
	border: 3px solid #f8f8f8;
}

#bryan:hover {
	cursor: pointer;
}

img.thirty-two {
	width: 32px;
	height: 32px;
}

#external-links {
	text-align: center;
}

#posts {
	padding-top: 75px;
}


#posts h2 {
	font-size: 25px;
	color: #05aae5;
	transition: all 0.1s ease;
	margin-bottom: 0;
	line-height: 25px;
	letter-spacing: 1.5px;
	margin: 12.5px 0 10px 0;
}

#posts h2:hover {
	border-left: 5px solid #5e5a60;
	color: #f8f8f8;
	padding-left: 10px;
	cursor: pointer;
	text-decoration: none;
}

#posts p.datetime {
	font-size: 16px;
	color: #f9ee98;
}

div.post-row {
	margin-bottom: 25px;
}

#post {
	padding-top: 20px;
}

#post h2 {
	font-size: 35px;
	color: #05aae5;
	margin-bottom: 0;
	line-height: 25px;
	letter-spacing: 1.5px;
	margin: 12.5px 0 10px 0;
	transition: all 0.1s ease;
}

#posts-index {
	margin-top: 20px;
	color: #f8f8f8;
}

.posts.form {
	margin-top: 20px;
}

pre {
	border: 1px solid #5e5a60;
}

p {
	font-size: 24px;
	line-height: 34px;
	letter-spacing: 1px;
	color:  #f8f8f8;
	text-align: justify;
}

p a {
	color: #7587a6;
}

p a:hover {
	color: #7587a6;
	text-decoration: underline;
}

p.date {
	color: #5e5a60;
}

hr {
	border-top: 2px dotted #5e5a60;
}

.time-circle {
	width: 50px;
	height: 50px;
	font-size: 16px;
	font-weight: bold;
	margin: 0 auto;
}

.time-day {
	width: 50px;
	height: 25px;
	background-color: #f8f8f8;
	border-top-left-radius: 25px;
	border-top-right-radius: 25px;
	text-align: center;
	line-height: 30px;
	color: #202021;
	border-left: 3px solid #5e5a60;
	border-right: 3px solid #5e5a60;
	border-top: 3px solid #5e5a60;
}

.time-month {
	width: 50px;
	height: 25px;
	background-color: #f8f8f8;
	border-bottom-left-radius: 25px;
	border-bottom-right-radius: 25px;
	text-align: center;
	line-height: 20px;
	color: #202021;
	border-left: 3px solid #5e5a60;
	border-right: 3px solid #5e5a60;
	border-bottom: 3px solid #5e5a60;
}

#bkgVid {
	position: fixed;
	bottom: 0px;
	right: 0px;
	min-width: 100%;
	min-height: 100%;
	width: auto;
	height: auto;
	z-index: -1000;
	overflow: hidden;
	opacity: .10;
}

#comments {
	margin: 50px 0 20px 0;
}

#comments h3 {
	color: #f8f8f8;
}

#comment-form input, #comment-form textarea {
	margin-bottom: 5px;
}
