<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{{ page.title }}</title>
        <meta name="viewport" content="width=device-width">
        <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="/css/font-awesome.min.css">
        <link rel="stylesheet" href="/css/syntax.css">
        <link rel="stylesheet" href="/css/style.css">
    </head>
    <body>

      <div class="container">
        <div class="row">
          <div id="sidebar" class="col-md-3">
            <h1 id="my-name"><a href="/">BRYAN<span class="last-name">CROWE</span></a></h1>
            <div id="external-links">
              <a href="//github.com/bcrowe" target="_blank">
                <span class="fa-stack fa-lg">
                  <i class="fa fa-github fa-stack-2x"></i>
                </span>
              </a>
              <a href="//twitter.com/_beakman" target="_blank">
                <span class="fa-stack fa-lg">
                  <i class="fa fa-circle fa-stack-2x"></i>
                  <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
                </span>
              </a>
              <a href="mailto:bryan@bryan-crowe.com">
                <span class="fa-stack fa-lg">
                  <i class="fa fa-circle fa-stack-2x"></i>
                  <i class="fa fa-pencil fa-stack-1x fa-inverse"></i>
                </span>
              </a>
            </div>
            <p>
              Bryan Crowe is a beer-drinking open source developer living in Pittsburgh, PA. He is involved in the <a class="text-link" href="http://www.cakephp.org" target="_blank">CakePHP</a> framework.
            </p>
          </div>
          <div class="col-md-9">
            {{ content }}
          </div>
        </div>
      </div>
      <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
      <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
    </body>
</html>
